<html>
  <head>
    <title>Update Media</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <form method="POST" action="/update/<%= media.media_id %>">
      <label for="title">Title: </label>
      <input type="text" id="title" name="title" value="<%= media.title %>" >
      <label for="year">Release Year: </label>
      <input type="text" id="year" name="year" value="<%= media.release_year %>">
      <label for="band">Band: </label>
      <input type="text" id="band" name="band" value="<%= media.band_name %>">
      <label for="format">Format: </label>
      <select id="format" name="format" >
        <% mediaFormats.forEach((format) => { %>
          <% if (format.id === media.format_id) { %>
            <option value=<%= format.id %> selected><%= format.format_name %></option>
          <% } else { %>
            <option value=<%= format.id %>><%= format.format_name %></option>
          <% } %>
        <% }); %>
      </select>
      <label for="genre">Genre: </label>
      <select id="genre" name="genre" value=<%= media.genre_id %> >
        <% genres.forEach((genre) => { %>
          <% if (genre.id === media.genre_id) { %>
            <option value=<%= genre.id %> selected><%= genre.genre_name %></option>
          <% } else { %>
            <option value=<%= genre.id %>><%= genre.genre_name %></option>
          <% } %>
        <% }); %>
      </select>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
