<html>
  <head>
    <title>Media View</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <h2>Media Detail</h2>
    <div class="mediaView">
      <div class="media">
        <div>Media Title:  <%= media.title %></div>
        <div>Release Year: <%= media.release_year %></div>
        <div>Band Name:    <%= media.band_name %></div>
        <div>Format:       <%= media.format_name %></div>
        <div>Genre:        <%= media.genre_name %></div>
      </div>
    </div>
    <div>
      <a href="/new">Add Media</a>
    </div>
  </body>
</html>
